<!DOCTYPE html>
<html>
<head>
    <title>ChatGPT</title>
    <link rel="stylesheet" href="/static/styles.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>
    <div class="chat-container">
        <div id="chat-box"></div>
        <form id="message-form">
            <input type="text" id="message" autocomplete="off" autofocus>
            <button type="submit">Send</button>
        </form>
    </div>
    <script src="/static/scripts.js"></script>
</body>
</html>
